################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilterParser/obj/Debug/netcoreapp3.1
